<section class="single-post" ng-if="post">
    <h1>{{post.title.rendered}}</h1>

    <div ng-bind-html="post.content.rendered"></div>

    <div class="meta the-date">
        Posted: {{post.date | amDateFormat: 'YYYY-MM-DD HH:mm'}}
    </div>

    <ul class="post-links">
        <li><a ng-href="#/">Back to list</a></li>
        <li ng-if="post.siblings.prev"><a ng-href="#/post/{{post.siblings.prev}}">Previous post</a></li>
        <li ng-if="post.siblings.next"><a ng-href="#/post/{{post.siblings.next}}">Next post</a></li>
    </ul>
</section>