<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Using WP REST API with Angular.js</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- build:css assets/css/styles.min.css -->
    <link rel="stylesheet" href="assets/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <!-- /build -->
</head>
<body ng-app="restApiDemo">

<header class="header">
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="page-title">
                        <a ng-href="#/">
                            WP REST API Demo
                        </a>
                    </h1>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-9">
                <div ng-view></div>
            </div>
            <div class="col-xs-12 col-sm-3 sidebar">
                <section class="post-search" ng-controller="SearchFormController as SearchFormCtrl">
                    <form class="form" name="search" ng-submit="SearchFormCtrl.search()">
                        <div class="form-group">
                            <label for="search-term" class="sr-only">
                                Search:
                            </label>
                            <input type="text" name="search-term" id="search-term" class="form-control"
                                   ng-model="searchTerm">
                        </div>
                        <button class="btn btn-info">Search</button>
                    </form>
                </section>

                <section class="taxonomies" ng-controller="CategoryListController as categoryListCtrl">
                    <h2>Categories</h2>
                    <ul class="taxonomy-list">
                        <li ng-repeat="item in items">
                            {{item.name}}
                            <span class="count">({{item.count}})</span>
                        </li>
                    </ul>
                </section>
            </div>
        </div>
    </div>
</section>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p>
                    <a href="https://github.com/ville6000/wp-rest-api-demo">
                        View source on GitHub
                    </a>
                </p>
            </div>
        </div>
    </div>
</footer>

<!-- build:js assets/js/vendor.min.js -->
<script src="../node_modules/moment/moment.js"></script>
<script src="../node_modules/angular/angular.js"></script>
<script src="../node_modules/angular-route/angular-route.min.js"></script>
<script src="../node_modules/angular-sanitize/angular-sanitize.min.js"></script>
<script src="../node_modules/angular-moment/angular-moment.min.js"></script>
<!-- /build -->

<!-- build:js assets/js/app.min.js -->
<script src="assets/js/app.js"></script>
<script src="assets/js/category-list.controller.js"></script>
<script src="assets/js/post.controller.js"></script>
<script src="assets/js/post.service.js"></script>
<script src="assets/js/post-list.controller.js"></script>
<script src="assets/js/post-search.controller.js"></script>
<script src="assets/js/search-form.controller.js"></script>
<script src="assets/js/term.service.js"></script>
<!-- /build -->

<!-- build:include analytics.html -->
<!-- /build -->

</body>
</html>